<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Inicio de sesión</title>
<!-- Latest compiled and minified CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<link th:href="@{/css/estilo.css}" rel="stylesheet" type="text/css">

</head>
<body>
	<div class="conteiner2">
		<a class="navbar-brand" href="#" th:href="@{/}">Te Damos la
			Bienvenidad</a>
	</div>


	<div class="bg-light d-flex justify-content-center align-items-center vh-100">
		<div class="container bg-white p-5 rounded-5 text-secondary shadow"
			style="width: 35rem">
			<div class="row">
				<div class="col-md-12 col-md-offset-3">
					<h1>Inicio de sesión</h1>
					<form th:action="@{/login}" method="post">
						<br>
						<div th:if=${param.error}>
							<div class="alert alert-danger">Usuario o contraseña
								inválidos</div>
						</div>

						<div th:if=${param.logout}>
							<div class="alert alert-info">Ha cerrado sesión
								exitosamente</div>
						</div>


						<div class="form-group">
							<label for="username">Nombre de usuario : </label> <input
								id="username" name="username" type="text" class="form-control"
								required autofocus="autofocus" placeholder="Digite su email ID">
						</div>
                        <br>
						<div class="form-group">
							<label for="password">Password : </label> <input id="password"
								type="password" name="password" class="form-control" required
								autofocus="autofocus" placeholder="Digite su password">
						</div>
						<br>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6 col-md-offset-3">
									<input type="submit" class="form-control btn btn-primary"
										name="login-submit" id="login-submit" value="Iniciar sesión" />
								</div>
							</div>
						</div>
						<br>
					</form>
					
					<div class="form-group">
						<span>Si eres nuevo usuario <a th:href="@{/registro}">regístrate
								aqui</a></span>
					</div>

				</div>
			</div>
		</div>

	</div>



	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

</body>
</html>














